CMakeCache.txt
CMakeFiles
Makefile
*.ninja
.ninja_deps
.ninja_log
cmake_install.cmake
compile_commands.json
install_manifest.txt
CTestTestfile.cmake
Testing/
/eval/datasets/
/eval/parsec-2.0
/eval/parsec-3.0
/eval/parsec-prefix
/eval/tests/ferret
/eval/tests/vips
/eval/tests/canneal
/eval/tests/blackscholes
/eval/tests/raytrace
/eval/tests/streamcluster

*.o
*.so
*.la
*.a

# Byte-compiled python files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
.gdb_history

test/*
!test/*.cpp
!test/*.c
!test/*.h
