CMakeCache.txt
CMakeFiles
Makefile
*.ninja
.ninja_deps
.ninja_log
cmake_install.cmake
compile_commands.json
install_manifest.txt
CTestTestfile.cmake
Testing/
/eval/datasets/

*.o
*.so
*.la
*.a

# Byte-compiled python files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
.gdb_history
